/*@import "basic.scss";*/

body,html{
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;

	text-align: center;
}


html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }


img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }